.form-container form {
    background-color: rgb(246 246 246);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px 25px;
    border: 1px rgba(0, 0, 0, 0.11) solid;
    box-shadow: -1px 1px 10px 0px black;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.input-container input, .long-text textarea, .input-container select{
    height: 90px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid;
    padding-top: 5px;
}

.input-container input, .input-container select {
    height: 37px;
    border: 1px solid #7F2AB5;
}

.input-container label {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #7F2AB5;
}

.input-container input:focus-visible, .long-text textarea, .input-container select:focus-visible{
    outline-offset: none;
    outline: none;
    border: 1px solid #7F2AB5;
    font-size: 16px;
}

.btn-form, .input-container input, .input-container textarea , .input-container select {
    border-radius: 5px;
}

.btn-form {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-align: center;
    border: 1px #7F2AB5 solid;
    height: 40px;
    font-family: 'Hind Madurai';

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7F2AB5;
}

.btn-form:hover {
    background-color: #7F2AB5;
    color: #ffe56f;
}