.form-container form {
    background-color: rgb(246 246 246);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px 25px;
    border: 1px rgba(0, 0, 0, 0.11) solid;
    box-shadow: -1px 1px 10px 0px black;
}

.input-container input, .long-text textarea, .input-container select{
    height: 90px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid;
    padding-top: 5px;
}

.input-container input:focus-visible, .long-text textarea, .input-container select:focus-visible{
    outline-offset: none;
    outline: none;
    border: 1px solid #7F2AB5;
    font-size: 16px;
}