/* geral */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    padding-top: 100px;
    font-family: 'Hind Madurai', sans-serif;
} 

 p {
    text-align: justify;
} 

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.link-no-style {
    text-decoration: none;
}

.text {
    background-color: rgba(236, 236, 236, 0.6);
    padding: 16px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

/* fim geral */

/* navbar */




/* variantes de navitem */

.text-purple {
    color: #7F2AB5;
}



/* fim navbar */

/* inicio footer */

.session-footer {
    background-image: linear-gradient(270deg, #50077E 0%, #7F2AB5 48.44%, #50077E 100%);
    width: 100%;
    display: flex;
}

.container-session-footer {
    /* background-color: red; */
    margin: 0px 40px 0px 40px;
    width: 100%;
}

.footer-item, .footer-social, .footer-logo {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.footer-item a {
    color: #ffffff;
    margin-left: 11.5px;
    margin-right: 11.5px;
    text-decoration: none;
    cursor: pointer;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.footer-item a:hover {
    color: #B4F12C;
}

.footer-instagram, .footer-facebook, .footer-twitter {
    margin: 0px 12px 0px 12px;
}

.footer-logo-nome {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
}

/* fim footer */
