/* geral */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    padding-top: 100px;
    font-family: 'Hind Madurai', sans-serif;
}

p {
    text-align: justify;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.link, .link:visited {
    color: #7F2AB5;
}

.link-no-style {
    text-decoration: none;
}

.text {
    background-color: rgba(236, 236, 236, 0.6);
    padding: 16px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

/* fim geral */

/* navbar */
.navbar {

    /* tamanho, posição e cor */
    background-image: linear-gradient(270deg, #50077E 0%, #7F2AB5 48.44%, #50077E 100%);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    z-index: 2;

    /* comportamento do conteúdo */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar-container {
    /* background-color: red; */
    height: 100%;
    margin: 0px 40px 0px 40px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-container-logo .logo {
    width: 74px;
}

.navbar-container-itens {
    display: flex;
    font-size: 24px;
    height: 100%;
}

.navbar-container-itens button {
    margin: 0px 20px;
    background: none;
    border: none;
}

.nav-item {
    /* background-color: gray; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: white;
    cursor: pointer;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.nav-item:hover{
    font-weight: 700;
}



.navbar-container a {
    text-decoration: none;
}

/* variantes de navitem */
.text-green {
    color: #B4F12C;
    border-bottom: 3px solid #B4F12C !important;

}

.text-purple {
    color: #7F2AB5;
}

.bg-yellow {
    /* background-color: red; */
    margin-right: 0px;
    padding: 12px 21px 12px 21px;
    border: 2px solid #FFD92E;
    border-radius: 50px;
    height: auto;
    color: #FFD92E;
}

.bg-yellow:hover {
    background-color: #FFD92E;
    border: 2px solid #FFD92E;
    color: #7F2AB5;
    height: auto;
}

.navbar-logo-nome {
    margin-left: 15px;
    color: #ffffff;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 35.2476px;
    line-height: 49px;


}

.logo-nome-verde {
    color: #B4F12C;
}

/* fim navbar */

/* inicio footer */

.session-footer {
    background-image: linear-gradient(270deg, #50077E 0%, #7F2AB5 48.44%, #50077E 100%);
    width: 100%;
    display: flex;
}

.container-session-footer {
    /* background-color: red; */
    margin: 0px 40px 0px 40px;
    width: 100%;
}

.footer-item, .footer-social, .footer-logo {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.footer-item a {
    color: #ffffff;
    margin-left: 11.5px;
    margin-right: 11.5px;
    text-decoration: none;
    cursor: pointer;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.footer-item a:hover {
    color: #B4F12C;
}

.footer-instagram, .footer-facebook, .footer-twitter {
    margin: 0px 12px 0px 12px;
}

.footer-logo-nome {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
}

/* fim footer */

/* Início Resgate */
.container-resgate {
    background-color: #FFD92E;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.icon-resgate {
    margin: 0px 16px 0px 16px;
}

.text-resgate {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-left: 16px;

    display: none;
    color: #7F2AB5;
}

/* Fim Resgate */