/* geral */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

body {
    padding-top: 100px;
    font-family: 'Hind Madurai', sans-serif;
}

.header {
    background-image: linear-gradient(270deg, #50077E 0%, #7F2AB5 48.44%, #50077E 100%);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    z-index: 2;
    margin-bottom:80px;
}

.container-header{
    width: calc(100% - 80px);
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
} 

.application-menu {
    margin-right: 40px;
}

.perfil-header{
    margin-left: 40px;
}

.container-items-header{
    height: 100%;
    width: 100%;
    display: flex;
}


.btn-header {
    background: none;
    border: none;
    width: auto;
    height: 100%;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    
    margin: 0px 20px;
}

.option-green{
    border-bottom: 3px solid #B4F12C !important;
    border-top: 3px solid transparent !important;
}

/* Fim do Header */


/* Início da sidebar */
.sidebar{
    z-index: 3;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    max-width: 485px;
    min-width: 321px;
    
    background: linear-gradient(90deg, #7F2AB5 0%, #50077E 135.36%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}

.container-sidebar{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.container-btn-close{
    width: 100%;
    display: flex;
}

.btn-close{
    margin: 19px 40px 0px 40px;
    height: auto;
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
}


.container-items-sidebar{
    height: 100%;
    width: 100%;
}

.items-sidebar{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.items-sidebar img{
    margin: 20px 20px 20px 40px;
}

.items-sidebar p{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    margin: 0px 40px 0px 0px;
}

.container-btn-exit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-exit{
    margin: 24px 40px;
    cursor: pointer;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.btn-exit p{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;
}

.btn-exit img {
    margin: 0px 6px;
}



