.dashboard-sysadmin {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard-sysadmin-container {
    width: 92%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-sysadmin-metricas-container {
    display: flex;
    width: 100%;
    height: 15%;
    flex-wrap: wrap;
}

.dashboard-sysadmin-metricas-container h2,
.dashboard-sysadmin-metricas-grafico h2 {
    color: #7F2AB5;
    font-size: 1.5rem;
}

.dashboard-sysadmin-metricas-card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dashboard-sysadmin-metricas-card {
    width: 202px;
    background-color: #D1F77C;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    justify-content: center;
    align-items: center;
}

.dashboard-sysadmin-metricas-card p {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.dashboard-sysadmin-metricas-graficos-container {
    width: 100%;
    /* height: 75%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.dashboard-sysadmin-metricas-graficos {
    width: 100%;
    height: 45%;
    display: grid;
}

.dashboard-sysadmin-metricas-graficos {
    display: flex;
    justify-content: space-between;
    height: 50%;
    margin-top: 12px;
}

.dashboard-sysadmin-metricas-grafico {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-sysadmin-metricas-grafico-container {
    width: 100%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.dashboard-sysadmin-loader-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF
}

.dashboard-sysadmin-spinner {
    width: 10px;
    height: 10px;
    border: 5px solid;
    border-color: #7F2AB5 transparent #7F2AB5 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}