.premios-container-geral {
    margin: 2% 2% 1% 2%;
    display: block;
}

.premios-h1-titulo{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    color: #7F2AB5;
    margin-bottom: 1%;
}

.premios-container-conteudo{
    display: flex;
    border-radius: 10px;
    height: 75vh;
}

.premios-container-filtros{
   width: 20%;
   background-color: #7F2AB5;
   border-radius: 10px 0 0 10px;
   padding: 1%; 
   box-shadow: 0 0 0.3em black;
}

.premios-container-filtros-titulo{
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 2% 5%;
    border-bottom: solid 2px white;
}

.premios-h2-filtros{
    font-size: 26px;
    color: white;
    margin-right: 10%;
}

.premios-h2-filtros-titulos {
    color: white;
    padding: 2% 2% 0 5%;
    font-size: 24px;
}

.premios-p-filtro{
    color: white;
    margin-top: 2%;
}

.premios-container-filtro-backend{
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
}

.premios-p-filtro{
    font-size: 16px;
}

.premios-check-box-filtro{
    width: 16px;
}

.premios-fotos-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(90deg, #7F2AB5 0%, #AF71D6 35%, #9449C3 100%);
    border-radius: 0 10px 10px 0;
}

.cardPetSimples{
    /* margin-right: 22px; */
    width: 206px;
    height: 206px;
    border-radius: 20px;    
}

.premios-fotos-container-sub{
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 20px;
    grid-row-gap: 20px;
    row-gap: 20px;
    grid-column-gap: 5px;
    grid-column-gap: 5px;
    column-gap: 5px;
    overflow: auto;
    justify-items: center
}

.premios-fotos-container-sub::-webkit-scrollbar, .premios-filtros::-webkit-scrollbar{
    width: 12px;
}

.premios-fotos-container-sub::-webkit-scrollbar-track, .premios-filtros::-webkit-scrollbar-track{
    background-color: rgba(218, 218, 218, 0.5);
    border-radius: 5px;
}

.premios-fotos-container-sub::-webkit-scrollbar-thumb, .premios-filtros::-webkit-scrollbar-thumb{
    background-color: rgba(127, 41, 180, 1);
    border-radius: 20px;
    border: 3px solid rgba(218, 218, 218);
}

.premios-filtros{
    overflow: auto;
    height: 90%;
}

.premios-botao-paginacao {
    padding: 3px;
    background-color: transparent;
    border: 1px #9449C3;
    border-style: none none solid none;
    color: white;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    width: 30% !important;
    text-align: center;
}

.premios-botao-paginacao:hover{
    border: 2px #7e29b4;
    border-style: none none solid none;
}

.premios-container-botao-paginacao {
    width: 20%;
    height: 5%;
}