.demanda-item-container{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid #7F2AB5;
    padding: 10px;
    align-items: center;
    gap: 10px;
    color: #7F2AB5;
    cursor: pointer;
}

.demanda-item-container:hover {
    background-color: #7F2AB5;
    color: white;
    opacity: 0.9;
}

.demanda-active {
    background-color: #7F2AB5;
    color: white;
}

.demanda-item-categoria{
    min-width: 76px;
    padding: 8px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #7F2AB5;
    text-align: center;
}

.demanda-item-adocao{
    background-color: #FAB6DE;
}

.demanda-item-resgate{
    background-color: #FFE8A8;
}

.demanda-item-pagamento{
    background-color: #B1FF8A;
}

.demanda-item-selected {
    background-color: #7F2AB5;
    color: white;
}