.ver-mais-container-geral {
    margin: 2% 2% 1% 2%;
    display: block;
}

.ver-mais-h1-titulo{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    color: #7F2AB5;
    margin-bottom: 1%;
}

.ver-mais-container-conteudo{
    display: flex;
    border-radius: 10px;
    height: 75vh;
}

.ver-mais-container-filtros{
   width: 20%;
   background-color: #7F2AB5;
   border-radius: 10px 0 0 10px;
   padding: 1%; 
   box-shadow: 0 0 0.5em black;
}

.ver-mais-container-filtros-titulo{
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 2% 5%;
    border-bottom: solid 2px white;
}

.ver-mais-h2-filtros{
    font-size: 26px;
    color: white;
    margin-right: 10%;
}

.ver-mais-h2-filtros-titulos {
    color: white;
    padding: 2% 2% 0 5%;
    font-size: 24px;
}

.ver-mais-p-filtro{
    color: white;
    margin-top: 2%;
}

.ver-mais-container-filtro-backend{
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
}

.ver-mais-p-filtro{
    font-size: 16px;
}

.ver-mais-check-box-filtro{
    width: 16px;
}

.ver-mais-fotos-container {
    margin-left: 0.5%;
    padding: 2% 0 1% 1%;
    width: 100%;
    background: linear-gradient(90deg, #7F2AB5 0%, #AF71D6 35%, #9449C3 100%);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 0.5em black;
}

.ver-mais-img-animais{
    margin-right: 22px;
    margin-top: 22px;
    width: 206px;
    height: 206px;
    border-radius: 20px;    
}