.msg-container{
    max-width: 50%;
    min-width: 5%;
    width: fit-content;
    padding: 5px;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 20px;
}


.msg-date{
    font-size: 12px;
    text-align: right;
    color: #d899ff;
}

.msg-left{
    display: flex;
    justify-content: flex-end;
}

.msg-right{
    display: flex;
    justify-content: flex-start;
}


.msg-color-left{
    background-color: #7F2AB5;
    color: white;
}

.msg-color-right{
    background-color: #3333;
}