.msg-container{
    max-width: 50%;
    min-width: 5%;
    width: fit-content;
    padding: 5px;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 20px;
}


.msg-date{
    font-size: 12px;
    text-align: right;
    color: #eae2ee;
}

.msg-left{
    display: flex;
    justify-content: flex-end;
}

.msg-right{
    display: flex;
    justify-content: flex-start;
}


.msg-color-left{
    background-color: #a17baf;
    color: white;
}

.msg-color-right{
    /* background-color: #CBD7F5; */
    background-color: #836bdb99;
    color: white;
}

.mensagem-imagem {
    max-height: 200px;
    border-radius: 5px;
}