.perfil-usuario-root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.perfil-usuario-root-container{
    width: 95%;
    height: 100%;
}

.perfil-usuario-box-titulo{
    margin-top: 35px;
}

.perfil-usuario-box-titulo span {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: #7F2AB5;
}

.perfil-usuario-box{
    height: 70vh;
    margin-top: 20px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

.perfil-usuario-box form{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.perfil-usuario-card{
    width: 100%;
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid rgba(175, 113, 214, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.perfil-usuario-card-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 6px;
    margin: 10px 0px;
}

.perfil-usuario-pets-apadrinhado{
    width: 49%;
    background: #FFFFFF;
    border: 1px solid rgba(175, 113, 214, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-usuario-pets-apadrinhado-container{
    height: 90%;
    width: 85%;
}

.perfil-usuario-box-lista{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil-usuario-box-lista span {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
}

.perfil-usuario-box-lista-pet{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 20px 0px;
}

.perfil-usuario-box-lista-pet::-webkit-scrollbar {
    width: 12px;
}

.perfil-usuario-box-lista-pet::-webkit-scrollbar-track {
    background-color: rgba(218, 218, 218, 0.5);
    border-radius: 5px;
}

.perfil-usuario-box-lista-pet::-webkit-scrollbar-thumb {
    background-color: rgba(127, 41, 180, 1);
    border-radius: 20px;
    border: 3px solid rgba(218, 218, 218);
}

.perfil-usuario-box-Nolista{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.perfil-usuario-box-Nolista span{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
}

.perfil-usuario-box-Nolista button {
    border: 3px solid #FFD92E;
    background-color: transparent;
    border-radius: 90px;
    width: 300px;
    height: 95px;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    color: #000000;
}

.perfil-usuario-div-editar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil-usuario-div-editar button{
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
}

.perfil-usuario-div-editar button span{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7F2AB5;
    margin-right: 5px;
}

.perfil-usuario-card-titulo{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.perfil-usuario-card-texto{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.perfil-usuario-input{
    border: solid 2px #7f2ab559;
    padding: 1px 5px;
    border-radius: 5px;
}

.perfil-usuario-input:disabled{
    background-color: transparent;
    border: solid 2px #7f2ab517;
}

.perfil-usuario-input::placeholder{
    color: #000000;
}

.perfil-usuario-input98{
    width: 98%;
}

.perfil-usuario-input40{
    width: 40%;
}

.perfil-usuario-input30{
    min-width: 20%;
    max-width: 30%
}

.perfil-usuario-input10{
    min-width: 5%;
    max-width: 10%;
}

.perfil-usuario-card-container-caracteristica{
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.perfil-usuario-box-caracteristica{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-wrap: wrap;
    padding: 12px;
    gap: 12px;
    overflow: auto;
}

.perfil-usuario-box-caracteristica::-webkit-scrollbar {
    width: 12px;
}

.perfil-usuario-box-caracteristica::-webkit-scrollbar-track {
    background-color: rgba(218, 218, 218, 0.5);
    border-radius: 5px;
}

.perfil-usuario-box-caracteristica::-webkit-scrollbar-thumb {
    background-color: rgba(127, 41, 180, 1);
    border-radius: 20px;
    border: 3px solid rgba(218, 218, 218);
}

.perfil-usuario-div-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.perfil-usuario-div-input-pessoal{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.perfil-usuario-btn-preferencia-checked{
    padding: 10px;    
    text-align: center;
    background-color: #7F2AB5;
    color: white;
    border: 1px #7F2AB5 solid;
    border-radius: 20px;
    height: fit-content;
}

.perfil-usuario-box-Nolista-img{
    width: 50%;
}