*{
    color: #7F2AB5;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

h1{
    padding: 53px;
    text-align: center;
}
.form-container{
    width: 45%;
}

.input-container{
    margin-bottom: 25px;
}

h2{
    text-align: center;
    padding: 30px;
}

.container-input-duplo{
    display: flex;
    background-color: aqua;
}

.container-input-duplo input{
    display: flex;
    height: 37px;
    border: 1px solid #7F2AB5;
    border-radius: 5px;
}

.container-input-duplo label{
    display: block;
}

.input-container-maior input{
    width: 200%;
}

.input-container-menor{
}
.input-container-menor input{

}