/* background */
.circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    z-index: -100;

    background: linear-gradient(172.07deg, #D1F77C 45.79%, rgba(209, 247, 124, 0) 84.49%);
}
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

/* fim background */

* {
    font-family: 'Hind Madurai', sans-serif;
}
/* inicio conteudo */
.session-content {
    width: 100%;
}

.container-session-content {
    margin: 80px 40px 80px 40px;
    width: auto;
}

.first-img {
    width: 100%;
    margin-bottom: 74px;
}

.container-first-img {
    display: flex;
    align-items: center;
}

.container-first-img img{
    width: 100%;
}

.h2-ajude-ongs {
    color: #6909A6;
    position: absolute;
    margin-left: 87px;
    margin-right: 87px;
    max-width: 562px;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
}

.content_call_to_action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.h2-sobre-nos{
    color: #7F2AB5;
    border-bottom: 1px solid #B4F12C;
    width: 366px;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;

}

.second-img{
    display: flex;   
    justify-content: space-between;
    margin-bottom: 74px;
}

.second-img img{
    max-width: 578px;
	box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.50);
}

.content-sobre-nos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.paragraph-sobre-nos{
    margin-top: 18px;
    margin-right: 18px;
    max-width: 655px;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.third-img{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}

.third-img img{
    max-width: 578px;
	box-shadow: -3px 3px 3px rgba(50, 50, 50, 0.50);
}

.content-fazemos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h2-fazemos{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;

    color: #7F2AB5;
    border-bottom: 1px solid #B4F12C;
    width: 366px;
    text-align: right;
}

.paragraph-fazemos{
    margin-top: 18px;
    margin-left: 18px;
    max-width: 600px;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}


/* fim conteudo */

.purple-word {
    color: #6909A6;
}