/* geral */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
  }

body {
    padding-top: 100px;
    font-family: 'Hind Madurai', sans-serif;
}

p {
    text-align: justify;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.text {
    background-color:rgba(236, 236, 236, 0.6);
    padding: 16px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}
/* fim geral */

/* navbar */
.navbar {
    
    /* tamanho, posição e cor */
    background-image: linear-gradient(270deg, #50077E 0%, #7F2AB5 48.44%, #50077E 100%);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    z-index: 2;

    /* comportamento do conteúdo */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar-container {
    /* background-color: red; */
    height: 100%;
    margin: 0px 40px 0px 40px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container-logo {
    display: flex;
    align-items: center;
}

.navbar-container-logo .logo{
    width: 85px;
    height: 80px;
}

.navbar-container-itens {
    display: flex;
    font-size: 24px;

}

.nav-item {
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;    
    color: white;
    cursor: pointer;
   
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    
}

.nav-item:hover {
    /* background-color: #AF71D6; */
}

/* variantes de navitem */
.text-green {
    color: #B4F12C;
}
.text-purple {
    color: #7F2AB5;
}
.bg-yellow {
    background-color: #FFD92E;
    /* margin-left: 30px; */
    margin-right: 0px;
    padding: 12px 21px 12px 21px;
    border-radius: 50px;
}
.bg-yellow:hover {
    background-color: #B4F12C;
}

.navbar-logo-nome {
    font-family: Hind Madurai;
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    line-height: 49px;
    margin-left: 15px;
    color: #ffffff;
}

.navbar-logo-nome span{
    color: #B4F12C;
}

/* fim navbar */

/* inicio footer */

.session-footer {
    background-image: linear-gradient(270deg, #50077E 0%, #7F2AB5 48.44%, #50077E 100%);
    width: 100%;
    display: flex;
}

.container-session-footer {
    background-color: red;
    margin: 0px 40px 0px 40px;
    width: 100%;
}

.footer-item, .footer-social, .footer-logo{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.footer-icon {
    margin: 0px 12px 0px 12px;
}

/* fim footer */