.editar-adm-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(../../Images/Logo.svg);*/
}

.editar-adm-form-container {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F3F2F2;
}

.editar-adm-form-container form{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.editar-adm-form-titulo {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editar-adm-form-titulo h1 {
    color: #7F2AB5;
}

.editar-adm-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

.editar-adm-input {
    display: grid;
    width: 100%;
    height: 100%;
}

.editar-adm-input label {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    font-size: 18px;
    margin-top: 10px;
    color: #7F2AB5;
    align-items: flex-end;
}

.editar-adm-input input {
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
    border: 1px solid #7E29B4;
    background-color: #F3F2F2;
}

.editar-adm-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editar-adm-button-container button {
    width: 150px;
    padding: 12px 20px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #7F2AB5;
    border-radius: 10px;
    font-family: "Hind Madurai";
    font-size: 18px;
    font-weight: 600;
    color: #7F2AB5;
}

.editar-adm-button-container button:hover {
    background-color: #7F2AB5;
    color: #F3F2F2;
}