.pet-item-list {
    width: 100%;
    background-color: #FFF;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item-list-user-icon {
    max-width: 30px;
    max-height: 30px;
}

.pet-list-item-btn-editar-cadastro {
    padding: 10px;
    border: 2px solid #FFD92E;
    color: #FFD92E;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFF;
}

.pet-key-value-item-container {
    text-align: center;
}
.pet-key-value-item-key {
    font-weight: bold;
}

