/* geral */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    padding-top: 100px;
    font-family: 'Hind Madurai', sans-serif;
} 

.background-adm{
    background-image: url("../Images/back_adm.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.background-user{
    background-image: url("../Images/back_user.svg");
}