.float-resgate-container {
    background-color: #FFD92E;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.float-resgate-text {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-left: 16px;

    display: none;
    color: #7F2AB5;
}

.float-resgate-icon {
    margin: 0px 16px 0px 16px;
}